/*© Zero - Código libre no comercial*/

body {
  font-size: 16px;
}

.tree-container {
  width: 92vw !important;
  height: 62vw !important;
  max-width: 98vw;
  max-height: 80vw;
  min-width: 180px;
  min-height: 180px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.tree-container svg {
  width: 100%;
  height: 100%;
  display: block;
}

.tree-container svg.move-and-scale {
  transition: transform 1.2s cubic-bezier(.77,0,.18,1);
  /* Mueve hacia abajo en caso de los celualares */
  transform: translateY(60px) scale(1.18);
}

.dedication-text {
  position: absolute;
  top: 7vw;
  left: 50%;
  transform: translateX(-50%);
  max-width: 92vw;
  font-size: 1.05rem;
  text-align: center;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-line;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
}

.signature {
  position: static;
  display: block;
  margin: 2.2em auto 0 auto;
  left: auto;
  bottom: auto;
  transform: none;
  font-size: 1.25rem;
  color: #e60026;
  opacity: 0;
  z-index: 5;
  white-space: pre;
  pointer-events: none;
  transition: opacity 0.7s;
  text-align: center;
}


@media (max-width: 700px) {

  .countdown {
    position: fixed;
    bottom: 18px;

    left: 0;
    right: 0;

    width: 92%;
    max-width: 420px;
    margin: 0 auto;

    transform: translateY(30px);
  }

  .countdown.visible {
    transform: translateY(0);
  }

   .dedication-text {
  margin-bottom: 22vh; /* separación sin agrandar fondo */
  }
}

/* Ajusta los pétalos flotantes */
.floating-petal {
  width: 13px;
  height: 18px;
}
